<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false">
    
    <targets>
        <target name="db" xsi:type="Database"
                dbProvider="System.Data.SQLite" 
                keepConnection="false"
                connectionString="Data Source=${basedir}\..\spex.db">
            
            <commandtext>
                INSERT INTO Log(Logged, Logger, Level, Message, Callsite, Machine, Properties, Exception) 
                VALUES(@Logged, @Logger, @Level, @Message, @Callsite, @Machine, @Properties, @Exception)
            </commandtext>
            
            <parameter name="@Logged" layout="${longdate}"/>
            <parameter name="@Logger" layout="${logger}"/>
            <parameter name="@Level" layout="${level:uppercase=true}"/>
            <parameter name="@Message" layout="${message}"/>
            <parameter name="@Callsite" layout="${callsite:filename=true}"/>
            <parameter name="@Machine" layout="${machinename}" />
            <parameter name="@Exception" layout="${exception:tostring}" />
            
        </target>
    </targets>
    
    <rules>
        <logger name="*" minlevel="Info" writeTo="db" />
    </rules>
    
</nlog>