<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">

    <targets>

        <target
            name="MemoryLog"
            xsi:type="Memory"
            layout="${longdate}|${level:uppercase=true}|${logger}|${scopeproperty:item=RunId}|${message} ${exception:format=tostring}" />

        <target
            name="DatabaseLog"
            xsi:type="Database"
            dbProvider="Microsoft.Data.Sqlite.SqliteConnection, Microsoft.Data.Sqlite"
            keepConnection="false"
            connectionString="Data Source=${basedir}\..\spex.db">

            <commandtext>
                INSERT INTO Log(Logged, Logger, Level, Message, Callsite, Machine, Properties, Exception)
                VALUES(@Logged, @Logger, @Level, @Message, @Callsite, @Machine, @Properties, @Exception)
            </commandtext>

            <parameter name="@Logged" layout="${longdate}" />
            <parameter name="@Logger" layout="${logger}" />
            <parameter name="@Level" layout="${level:uppercase=true}" />
            <parameter name="@Message" layout="${message}" />
            <parameter name="@Callsite" layout="${callsite:filename=true}" />
            <parameter name="@Machine" layout="${machinename}" />
            <parameter name="@Exception" layout="${exception:tostring}" />
        </target>
        
    </targets>

    <rules>

        <!-- Rule for Engine Logs: Send Info and higher to MemoryTarget -->
        <logger name="AutoSpex.Engine.*" minlevel="Info" writeTo="memoryLog" final="true" />

        <!-- Rule for Persistence Logs: Send Info and higher to DatabaseTarget -->
        <logger name="AutoSpex.Persistence.*" minlevel="Info" writeTo="databaseLog" final="true" />

        <!-- todo will write all others eventually -->
        <!--<logger name="*" minlevel="Info" writeTo="db" />-->

    </rules>

</nlog>